<!--form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="email">Email:</label>
  <input type="email" name="user[email]" id="email"><br>
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username"><br>
  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password"><br>
  <input type="submit" value="Create user">
</form-->

<%# form_tag("/users", method: "post") do %>
  <%# label_tag("user[email]", "Email:") %>
  <%# email_field(:user, :email) %>
  <%# label_tag("user[username]", "Username:") %>
  <%# text_field(:user, :username) %>
  <%# label_tag("user[password]", "Password:") %>
  <%# password_field(:user, :password) %>
  <%# submit_tag("Create user") %>
<%# end %>

<% if user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: user do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email, placeholder: "example@email.com" %><br>
  <%= form.label :username, "Your username:" %>
  <%= form.text_field :username, value: "crispy chicken" %><br>
  <%= form.label :password %>
  <%= form.password_field :password, placeholder: "********" %><br>
  <%= form.submit "Edit user" %>
<% end %>
